ruff>=0.28.0
black
isort
pylint
pytest
pytest-cov
pre-commit
sphinx
sphinx-rtd-theme
aiosmtplib
yagmail

# Docs stack
mkdocs>=1.6.0
mkdocs-material>=9.5.0
mkdocstrings[python]>=0.26.0
mkdocs-autorefs>=1.2.0
mkdocs-section-index>=0.3.8
pymdown-extensions>=10.8
